[submodule "client"]
	path = frontend 
	url = https://github.com/42ByteLabs/konarr-client
    branch = "main"
[submodule "docs"]
	path = docs
	url = https://github.com/42ByteLabs/konarr-docs
	branch = main
